.big-bunga {
    scale: 2;
    object-fit: cover;
    object-position: center;
    position: fixed;
    bottom: -30%;
    z-index: 5;
    filter: drop-shadow(1px 1px 5px black) contrast(70%) saturate(120%) brightness(90%);
    transform: rotateZ(90deg);
    animation: munculin 2s ease-in-out both, goyang 6s 2.3s ease-in-out infinite;
}

@keyframes goyang {

    0%,
    100% {
        transform: rotateZ(80deg);
        transform-origin: 100% 50%;
    }

    50% {
        transform: rotateZ(100deg);
    }
}

@keyframes munculin {
    from {
        bottom: -50%;
        right: -20%;
        transform-origin: 100% 50%;
        transform: rotateZ(150deg);
    }

    to {
        transform: rotateZ(80deg);
        bottom: -30%;
        right: 0;
        transform-origin: 100% 50%;
    }
}

.big-bunga2 {
    scale: -2;
    object-fit: cover;
    object-position: center;
    position: fixed;
    bottom: -20%;
    left: -20%;
    transform-origin: 100% 50%;
    z-index: 5;
    filter: drop-shadow(1px 1px 5px black) contrast(70%) saturate(120%) brightness(90%);
    transform: rotateZ(-25deg);
    animation: munculin2 2s ease-in-out both, goyang2 6.5s 2.3s ease-in-out infinite;
}

@keyframes goyang2 {

    0%,
    100% {
        transform: rotateZ(-15deg);
    }

    50% {
        transform: rotateZ(-35deg);
    }
}

@keyframes munculin2 {
    from {
        bottom: -50%;
        left: -40%;
        transform: rotateZ(-90deg);
    }

    to {
        bottom: -20%;
        left: -20%;
        transform: rotateZ(-15deg);
    }
}